body{
	margin:0;
	padding:0;
	background-color: #DF5F5F;

}
.form{
	margin: 10% 30%;
}
form{

}

header{ 
 width:100%;
 height: 20%; 
 border: 2px solid green;
background-color: white;
}

h1{
	color: blue;
	padding-left: 500px;
	padding-top: 20px;
}

.ojo{
	 color: gold;
	 font-family: sans-serif;
	 font-size: 20px;
	 margin-left:40%;
}

#we{
		color: gold;
		font-size: 20px;
}